body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  text-align: justify;
}
.navbar {
  background-color: #2C3E50;
  
}
.navbar-brand {
  font-size: 25px;
}
#body {
  background-color: #f7f7f7;

}
#body .banner {
  width: 100%;
  margin-bottom: 20px;
}
#footer {
  padding: 20px 0;
}

a{
  color: #323232;
}
a:hover {
  color: #0bb536
}
.green {
  color: #0bb536
}
.container {
  width: auto;
}
.aboutjustify{
  text-align: justify;
}



