awsebcli==3.7.7
blessed==1.9.5
boto==2.42.0
botocore==1.4.48
braintree==3.29.2
cement==2.8.2
colorama==0.3.7
defusedxml==0.4.1
dj-database-url==0.4.0
Django==1.9.5
django-braces==1.9.0
django-model-utils==2.5.2
django-star-ratings==0.5.3
django-storages==1.5.0
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
gunicorn==19.6.0
jmespath==0.9.0
oauthlib==1.1.2
pathspec==0.3.4
PyJWT==1.4.2
python-dateutil==2.5.3
python-social-auth==0.2.14
python3-openid==3.0.10
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.2
semantic-version==2.5.0
six==1.10.0
texttable==0.8.4
wcwidth==0.1.7
websocket-client==0.37.0
whitenoise==3.2.1
psycopg2==2.6.1