{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Jobs</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.css' %}" >
    <link rel="stylesheet" href="{% static 'css/ripples.min.css' %}" >
    <!-- Form Styling -->
    <link rel="stylesheet" href="{% static 'css/form-labels-on-top.css' %}">
    <!-- One Page Wonder Profile Preview -->
    <link rel="stylesheet" href="{% static 'css/one-page-wonder.css' %}">
    <!-- Dropdown css -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">
    <!-- Page style -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <!-- Overring custom css -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" >
  </head>
  <body>
<!--  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" height="50"></a>
                    <a class="navbar-brand page-scroll" href="#page-top">SmallJobs</a>                  
                </div>
      
            </div>

            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              
                <ul class="nav navbar-nav navbar-left">
                  <li class="inputpad">
                    <form class="navbar-form navbar-left" role="search" medthod="GET" action="/search/">
                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" name="title" class="form-control" placeholder="Find services">

                          <span class="input-group-btn">
                          <button class="btn btn-success">Search</button>
                          </span>
                        </div>
                      </div>
                    </form>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    
                    {% if user and not user.is_anonymous %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="fase">
                        <img src="{% if user.profile %} {{ user.profile.avatar }} {% else %} { % static 'img/userplaceholder.jpeg' % } {% endif %}" class="img-circle" height="35" width="35" />&nbsp
                        {{ user.get_full_name|default:user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'create_gig' %}">Create a gig</a></li>
                          <li><a href="{% url 'my_gigs' %}">My Gigs</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{% url 'my_sales' %}">My Sales</a></li>
                          <li><a href="{% url 'my_purchases' %}">My Purchases</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{% url 'user_profile' user.username %}">My Profile</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{% url 'auth:logout' %}?next={{request.path}}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                      <li>
                        <a href="{% url 'social:begin' 'facebook' %}?next={{request.path}}">Login with Facebook</a>
                      </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav> -->
    <div class="navbar navbar-success navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">SmallJobs</a>
                  
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                  <form class="navbar-form navbar-left" role="search" medthod="GET" action="/search/">
                    <div class="form-group">
                      <input type="text" name="title" class="form-control col-sm-8" placeholder="Search">
                    </div>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                      {% if user and not user.is_anonymous %}  
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      role="button" aria-haspopup="true" aria-expanded="fase">
                      <img src="{% if user.profile %} {{ user.profile.avatar }} {% else %} { % static 'img/userplaceholder.jpeg' % } {% endif %}" class="img-circle" height="35" width="35" />&nbsp
                      {{ user.get_full_name|default:user.username }} <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'create_gig' %}">Create a gig</a></li>
                        <li><a href="{% url 'my_gigs' %}">My Gigs</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'my_sales' %}">My Sales</a></li>
                        <li><a href="{% url 'my_purchases' %}">My Purchases</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'user_profile' user.username %}">My Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'auth:logout' %}?next={{request.path}}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'social:begin' 'facebook' %}?next={{request.path}}">Login with Facebook</a></li>
                        {% endif %}
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="btn-group btn-group-justified btn-group-raised">
              <a href="/category/graphics-design" class="btn ">Graphics & Design</a>
              <a href="/category/digital-marketing" class="btn ">Digital Marketing</a>
              <a href="/category/video-animations" class="btn ">Video & Animation</a>
              <a href="/category/music-audio" class="btn ">Music & Audio</a>
              <a href="/category/programming-tech" class="btn ">Programming & Tech</a>
            </div>
  <div id="body">
      <div class="container">
        {% block page %}
        {% endblock %}
      </div>
    </div>


    <footer id="footer">
      <div class="container">
        <span>SmallJobs &copy; 2016</span>
      </div>
    </footer>
        
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"> </script>

    <!-- Twitter Bootstrap JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Material Design for Bootstrap -->
    <script src="{% static 'js/material.js' %}"></script>
    <script src="{% static 'js/ripples.min.js' %}"></script>
    <script>
      $.material.init();
    </script>
    <!-- Dropdown.js -->
    <script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
    <script>
      $("#dropdown-menu select").dropdown();
    </script>
    <!-- Tool Tip.js -->
    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    
  </body>
</html>
