{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
<div class="row">
  <div class="col-md-12">
      <img src="{% static 'img/banner.jpg' %}" class="banner" />
  </div>
  
    <div class="col-md-12">
      
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h2 class="textpress"> <strong>Find the Coolest Gigs</strong></h2><h4 class="textpress">Best Niches Featured</h4> </div>
        <div class="col-md-4"></div>
      </div>
      <hr class="textpress">
      
  </div>
  <div class="row">
    {% for gig in gigs %}
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="{% url 'gig_details' gig.id %}"><img style="height: 200px; width:100%;" src="/media/{{ gig.photo }}" /></a>
            <div class="caption">
              <p style="text-transform: uppercase;">
                <a class="titlelink" href="{% url 'gig_details' gig.id %}">{{ gig.title }}</a>
              </p>
              <p>
                <span>by <a href="{% url 'preview_profile' gig.user.username %}">{{gig.user.username}}</a></span>
                <b class="green pull-right">${{ gig.price }}</b>
              </p>
            </div>
        </div>
      </div>
      {% endfor %}
  </div>
  
    
    
</div>
{% endblock %}
