container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: 'source /opt/python/run/venv/bin/actiate && python manage.py makemigrations'
    command: 'source /opt/python/run/venv/bin/activate && python manage.py migrate'
    leader_only: true
  03_createsu:
    command: 'source /opt/python/run/venv/bin/actiate && python manage.py createsu'
    leader_only: true
  