container_commands:
  01_migrate:
    command: 'source /opt/python/run/venv/bin/actiate && python manage.py makemigrations'
    command: 'source /opt/python/run/venv/bin/activate && python manage.py migrate'
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  